<div class="container-fluid showcase">
  <div class="about-text">
    <h3 class="bold">JK Artist (b. 1900 USA)</h3>
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br />
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  <br />
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." <br />
  </p>
</div>
  <div class="about-text">
    <ul class="cv-list">
      <li><h3 class="bold">Exhibitions</h3></li>
      <li><h3 class="small">Some Show, Some institution, 1903</h3></li>
      <li><h3 class="small">Some Show, Some institution, 1903</h3></li>
      <li><h3 class="small">Some Show, Some institution, 1903</h3></li>
      <li><h3 class="small">Some Show, Some institution, 1903</h3></li>
    </ul>
      <ul class="cv-list">
      <li><h3 class="bold">Publications</h3></li>
      <li><h3 class="small">Some Series, Some Imprint, 1905</h3></li>
      <li><h3 class="small">Some Series, Some Imprint, 1905</h3></li>
      <li><h3 class="small">Some Series, Some Imprint, 1905</h3></li>
      <li><h3 class="small">Some Series, Some Imprint, 1905</h3></li>
    </ul>
  </div>
</div>
