<div class="container-fluid showcase">
  <div class="about-text">
    <ul class="cv-list">
      <li><h3 class="bold">Jared Radin</h3></li>
      <li><h3 class="small">(b. 1990 USA)</h3></li>
    </ul>
    <ul class="cv-list">
      <li><h3 class="bold">Education</h3></li>
      <li><h3 class="small">B.A. American Studies / Wesleyan University / Middletown, CT / 2012</h3></li>
    </ul>
    <ul class="cv-list">
      <li><h3 class="bold">Exhibitions</h3></li>
      <li><h3 class="small">In The Future-Present / Artist's Television Access (Window) / San Francisco, CA / 2014</h3></li>
      <li><h3 class="small">Formal Photographs (with Lindsey Filowitz) / Arbor Cafe / Oakland, CA / 2014</h3></li>
      <li><h3 class="small">American Dream Scapes / Metropolitan Playhouse / New York, NY / 2013</h3></li>
      <li><h3 class="small">Living The Dream / Wesleyan University Zelnick Pavilion / Middletown, CT / 2012</h3></li>
    </ul>
    <ul class="cv-list">
      <li><h3 class="bold">Publications, Presentations, and Screenings</h3></li>
      <li><h3 class="small">Davedreamer / New Filmmakers NY / New York, NY / 2014 (Cinematographer)</h3></li>
      <li><h3 class="small">Davedreamer / Indiegrits Film Festival / Columbia, SC / 2014 (Cinematographer)</h3></li>
      <li><h3 class="small">An Affective Record / Memories Can't Wait Symposium /
        International Center for Photography / New York, NY / 2012</h3></li>
      <li><h3 class="small">Living The Dream: Photographs and Critical Essays / Senior Thesis Project / 2012</h3></li>
      <li><h3 class="small">Out of the Attic / Student Photography / PDN Photo Annual / 2008</h3></li>
    </ul>
  </div>
</div>
