<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="./font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="./stylesheets/style.css" rel="stylesheet">

  <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">

  <title>A Photo Site</title>
</head>

<body>
  <!-- Top nav -->
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Photosite</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li id="nav-portfolio"><a href="/portfolio">Portfolio</a></li>
        <li id="nav-about"><a href="/about">About</a></li>

      </ul>
      <ul class = "social-profiles navbar-right">
        <li><a href="#" class="social-button" title="Mail"><i class="fa fa-envelope"></i></a></li>
        <li><a href="#" class="social-button" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="social-button" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#" class="social-button" title="GitHub"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </nav>

  <!-- Where the content will go -->
  <main>

    {{{body}}}

  </main>


</body>

</html>
