<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="./font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="./stylesheets/style.css" rel="stylesheet">

  <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">

  <title>A Photo Site</title>
</head>

<body>
  <!-- Top nav -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Photosite</a>
        <ul class="nav navbar-nav">
          <li id="nav-portfolio"><a href="/portfolio">Portfolio</a></li>
          <li id="nav-about"><a href="/about">About</a></li>
          <li id="nav-cv"><a href="/cv">CV</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Where the content will go -->
  <main>

    {{{body}}}

  </main>

  <script src="./public/jquery.js"></script>
</body>

</html>
