<div class="container-fluid showcase">
  <a href="#" class="portfolio-btn previous" title="Previous"><i class="fa fa-chevron-left"></i></a>

    <img src="{{src}}" alt="{{alt}}">

  <a href="/portfolio/next" class="portfolio-btn next" title="Next"><i class="fa fa-chevron-right"></i></a>
</div>
